h1 {
    text-decoration: underline;
}
body {
    background-color: #556B2F;
    text-align: left;
    font-size: 28px;
    padding: 5px;
}

.columnheader {
    font-family: sans-serif;
}

.property {
    font-family: monospace;
}