html {
    font-family: sans-serif;
}
  
  /* Your CSS below here */
.button {
    padding: 5px;
    width: 275px;
    background-color: red;
    text-align: center; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    box-shadow: 1px 1px 1px black,
    inset 6px 6px 10px rgba(255,255,255,0.5),
    inset -5px -3px 50px rgba(0,0,0,0.3);

   
}
body {
    
}
  
p {
     /* offset-x | offset-y | blur-radius | color */
     text-shadow: 1px 1px 2px black; 
     font-size: 20px;
     color: red
}
