doctype html
html(lang="en")
  head
    title Hello World
  body
    h1 Pug - node template engine
    div(class="container")
      h2 Hello #{name}     // needs this variable to connect with the varable in app.js