body {
    background-color: grey;
}

h1 {
    font-size: 40px;
    border: 1px solid #665544;
    width: 500px;    
}

#lister {
    border: 1px solid #665544;
    width: 500px;
    font-weight: bold;
}

button {
    color: white;
    background-color: darkgrey;
}